@media all and (min-width: 375px) {
    .nav-menu {
        display: none;
    }
}

@media all and (min-width: 1440px) {

    .header-wrapper {
        background-color: #74C69D;
        height: 125px;
    }
    .navbar {
        justify-content: space-between;
        margin: 95px;
    }
    .nav-menu {
        padding: 20px;
        display: flex;
        gap: 40px;
        font-weight: 400;
        font-size: 2rem;
        color: white;
        font-family: var(--font-fam-work);
    }
    .burger-menu {
        display: none;
    }

    /* form section */

    .section-form {
        display: flex;
        justify-content: center;
        gap: 35px;
        margin-top: 67px;
    }

    .contact-map {
        order: 1;
        margin-top: 0;
    }

    .g-map {
        width: 575px;
        height: 385px;
    }

    .contact-form {
        display: flex;
        justify-content: center;
        height: 385px;
    }
    
    .contact-input {
        width: 575px;
        height: 38px;
        background-color: #EEEEEE;
    }
    
    .contact-input-text-area {
        width: 575px;
        height: 75px;
        background-color: #EEEEEE;
        border: 2px solid;
    }
    
    .contact-input-labels {
        font-weight: 400;
        font-size: 2rem;
        font-family: var(--font-fam-work);
        margin-top: 0;
    }

    .submit-btn {
        margin-top: 20px;
    }
    .submit-btn-style {
        width: 575px;
    }

    /* footer */

    .footer-wraper {
        display: flex;
        justify-content: space-around;
        background-color: #74C69D;
        height: 125px;
        margin-top: 99px;
    }
    
    .footer-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 100px;
    }
    .footer-items-social {
        gap: 20px;
    }
    
    .footer-copy-rights {
        display: flex;
        margin-top: 0px;
    }

}