
/* header */

.header-wrapper {
    background-color: #74C69D;
    height: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar-logo {
    display: flex;
    align-items: center;
    padding: 8px 10px;
}

.burger-menu {
    display: flex;
    border: 0;
    background-color: unset;
    cursor: grab;
}

.navbar-h1 {
    color: white;
    font-weight: 500;
    font-size: 3rem;
    line-height: 37.5px;
    padding:  0 10px;
    font-family: var(--font-fam-work);
}

/* our services description */

.portfolio {
    margin-top: 34px;
    text-align: center;
}

.portfolio-paragraph {
    font-family: var(--font-fam-crimson);
    color: black;
    font-weight: 700;
    font-size: 4rem;
    margin-top: 15px;
}

.portfolio-article {
    font-family: var(--font-fam-work);
    color: black;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 15px;
    line-height: 1.5;
}

/* form section */

.contact-map {
    display: flex;
    justify-content: center;
    margin-top: 67px;
}

.g-map {
    width: 335px;
    height: 224px;
}

.contact-form {
    display: flex;
    justify-content: center;
}

.contact-input {
    width: 335px;
    height: 38px;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.contact-input-text-area {
    width: 335px;
    min-height: 141px;
    background-color: #EEEEEE;
    border: 2px solid;
    border-radius: 5px;
}

.contact-input-labels {
    font-weight: 400;
    font-size: 2rem;
    font-family: var(--font-fam-work);
    margin-top: 21px;
}

/* form section button */

.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
.submit-btn-style {
    font-weight: 400;
    font-size: 2rem;
    color: white;
    background-color: #212529;
    border-radius: 5px;
    width: 335px;
    height: 48px;
    box-shadow: 3px 3px 2px rgb(199, 198, 198);
    cursor:grab;
}

/* footer */

.footer-wraper {
    display: flex;
    background-color: #74C69D;
    height: 125px;
    margin-top: 39px;
    justify-content: center;
    align-items: center;
}

.footer-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-items-social {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-copy-rights {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.footer-copy-rights-h1 {
    font-weight: 400;
    font-size: 2rem;
    font-family: var(--font-fam-work);
    color: white;
    line-height: 2;
    max-width: 326px;
}


