@media all and (min-width: 375px) {
    .nav-menu {
        display: none;
    }
}

@media all and (min-width: 1440px) {
    .nav-menu {
        display: block;
    }
    .burger-menu {
        display: none;
    }
}